<div class="tarot-home">
    <div class="text-center">
        <h1 class="display-4 mb-4">Tarot Yolculuğuna Hoş Geldiniz</h1>
        <p class="lead mb-5">Geçmiş, şimdi ve geleceğinize ışık tutacak kartlar sizi bekliyor...</p>
        
        <div class="row justify-content-center mb-5">
            <div class="col-md-4">
                <a href="/Tarot" class="btn btn-lg btn-primary w-100 mb-3">
                    <i class="fas fa-cards"></i> Tarot Falı Bak
                </a>
            </div>
        </div>
    </div>
</div>